{{#paper-list}}

  {{#paper-subheader}}
    {{#paper-button iconButton=true}}{{paper-icon "add circle outline"}}{{/paper-button}}
    {{list.title}}
  {{/paper-subheader}}

        <!-- {{#each model as |scientist|}}
          {{#paper-item class="md-3-line md-long-text"}}
            <div class="md-list-item-text">
              <h3>{{scientist}}</h3>
              <p>
                Secondary line text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam massa quam.
                Nulla metus metus, ullamcorper vel, tincidunt sed, euismod in, nibh. Quisque volutpat condimentum
                velit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
              </p>
            </div>
          {{/paper-item}}
        {{/each}} -->

{{/paper-list}}
