{{#paper-toolbar}}
  {{#paper-toolbar-tools}}
    <span class="flex"></span>
    {{#if session.isAuthenticated}}
      <p>{{session.currentUser.email}}</p>
      {{#paper-button onClick=(action "signOut")}}Sign Out{{/paper-button}}
    {{else}}
      {{#paper-button onClick=(action "signIn")}}Sign In{{/paper-button}}
    {{/if}}
  {{/paper-toolbar-tools}}
{{/paper-toolbar}}

{{outlet}}
