{{#paper-button onClick=(action "showNewListDialog")}}New List{{/paper-button}}

<div class="layout-row layout-xs-column layout-wrap layout-align-space-around-start">
  {{#each model as |list|}}
    <div class="flex-45">
      {{kestrel-list list=list}}
    </div>
  {{/each}}
</div>

{{#if newListDialogShown}}
  {{k-prompt-dialog header="New List" label="Title"
    cancelAction=(action "closeNewListDialog")
    okAction=(action "saveList")}}
{{/if}}
