<div class="layout-row layout-xs-column">
  <div class="flex-offset-25 flex-50">

      <div class="layout-row">
        <div class="layout-column flex-100">
          {{paper-input label="Email" type="email" value=email onChange=(action (mut email)) required=true}}
          {{paper-input label="Password" type="password" value=password onChange=(action (mut password)) required=true}}
        </div>
      </div>
      <div class="layout-row">
        {{#paper-button raised=true primary=true disabled=signInDisabled onClick=(action "signIn")}}Sign In{{/paper-button}}
      </div>

  </div>
</div>

{{#if errorDialogShown}}
  {{k-message-dialog header="Error" message="Incorrect email or password."
    okAction=(action "closeErrorDialog")}}
{{/if}}
